/* custom fonts */
/* -- Archivo Narrow -- */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');
/* -- Bebas Neue -- */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* -- Big Shoulders Display -- */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px), #f2ece9;
  background-size:
    10px 10px,
    10px 10px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px;
  overflow: hidden;
}
