/* custom fonts */
/* -- Archivo Narrow -- */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');
/* -- Bebas Neue -- */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* -- Big Shoulders Display -- */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-color: #f2ece9;
  background-image: url('src/assets/images/background-light.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.card-exit {
  animation: slideOutRight 0.5s forwards;
}

.card-enter {
  animation: slideInLeft 0.5s forwards;
}
